<div class="float-right mr-10">
    <%= link_to "<<< #{t('book_category.book_categories')}", admin_book_categories_path %>
</div>
<div class="mt-3">
    <h2><%= t('book_category.edit_book_category').capitalize %></h2>
    <%= render 'form', book_category: @book_category, url: admin_edit_book_category_path %>
</div>
