<% if model.errors.any? %>
<div class="alert alert-danger" role="alert">
    <h5 class="alert-heading"><%= "#{message} " if defined?(message) %>Opravte nasledujúce chyby:</h5>
    <ul>
        <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>
