<% if flash[:notice] %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= flash[:notice] %>
    </div>
<% end %>

<% if flash[:error] %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= flash[:error] %>
    </div>
<% end %>

<% if flash[:alert] %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= flash[:alert] %>
    </div>
<% end %>